.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  

  --button-primary-hover: #2b6777;
  --button-secondary-hover: #c8d8e4;
  /* --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2; */

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 10;
  gap: 0px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #c1e2f8;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

@font-face {
  font-family: "Twinkle Star";
  src: url("/fonts/Twinkle_Star/TwinkleStar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}


.main h1{
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Twinkle Star", cursive;
  font-size: 150px;

}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  
}

.container svg {

  width: 100%;
  height: 350px;
}

.container text{
  color: var(--accent2);
  font-weight: 100;
  font-size: clamp(380px, 90vw, 480px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1000px){
  .container text{
    color: var(--accent2);
    font-weight: 100;
    font-size: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 700px){
  .container text{
    color: var(--accent2);
    font-weight: 100;
    font-size: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.handwriting {
  font-family: "Twinkle Star", cursive;
  fill: transparent;
  stroke: var(--accent2);
  stroke-width: 4;
  stroke-dasharray: 800;
  stroke-dashoffset:  0;
  animation: writing 5s ease forwards, fillText 3s ease forwards;
  animation-duration: 5s, 3s;
  animation-delay: 0s, 3.5s;
}

@keyframes writing{
  0% {
    stroke-dashoffset: 0;
  }

  100%{
    stroke-dasharray: 3200;
  }
}

@keyframes fillText {
  0%{
    fill:transparent;
  }

  100%{
    fill: var(--accent2);
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  gap: 16px;
  color: white;
}

.button a {
  
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}


a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--accent1);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .button {
    flex-direction: column;
  }

  .button a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.mContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  grid-row-start: 2;
}

.mItem {
  background: var(--accent2);
  align-items: left;
  text-align: left;
  color: var(--foreground);
  flex: 1 1 auto;
  justify-content: center;
  padding: 1rem;
  border-radius: 30px;
}

#matches {
  font-size: 100px;
}